style
img.three {
            height:20%;
            width:20%;
        }
        button.button1 {
            border: none;
            color:rgb(0, 47, 255);
            text-align: center;
            display: inline-block;
            font-size: 26px;
            font-style: italic;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
input {
    color:rgb(0, 153, 255);
    text-align: end;
}